@import "normalize",
        "spec",
        "zealot",
        "sensible",
        "compass";

// Styles
* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: Georgia, Times New Roman, serif;
  color: $brandBlack;
}

html {
  background-color: #e0ded9;
}

header {
  margin-bottom: .2em;
  padding-bottom: .2em;
  border-bottom: .2em solid $brandRed + $brandRed;
  font: { 
    family: $fontHeadline;
    size: 1em;
    weight: bold;
    style: italic;
  }
  @include sens-tablet {
    font-size: 2.5em;
  }
  text-align: center;
  color: $brandRed;

  // @include zealot-arrow(bottom, 1em, $brandRed, .25em, #ff1a3c);
}

nav {
  ul {
    @include zealot-list-horizontal;
    @include background-image(linear-gradient($brandBlack + #999, $brandBlack));
  }
}

div[role="main"] {
  width: 100%;
  padding: 1em;
}

%bodyCopy {
  color: $brandBlack;
  font-family: $fontBody;
}

article {
  @extend %bodyCopy;
  width: 100%;
  margin-bottom: 7em;
  p {
    font-size: 1.2em;
    line-height: 1.6em;
  }
}

h1 {
  font-family: Akzidenz-Grotesk Next, Helvetica, Arial, sans-serif;
  font-size: 1.8em;
  @media (min-width: 32em) {
    font-size: 2em;
  }
}

h2 {
  font-family: Akzidenz-Grotesk Next, Helvetica, Arial, sans-serif;
  color: #aa311f;
}

aside {
  width: 100%;
  padding: 1em;
  ul {
    list-style: square;
  }
  p {
   @extend %bodyCopy;
   padding: 1em;
   font-size: 1em;
   line-height: 1.4em;
  }
}

footer {
  width: 100%;
  padding: 1em;
  font-family: Akzidenz-Grotesk Next, Helvetica, Arial, sans-serif;
  text-align: center;
  background-color: $brandBlack;
}

footer p {
  color: #e0ded9
}

footer p + p {
  color: #aa311f;
}

@media (min-width: 57em) {
  header {
    font-size: 2em;
  }
  h1 {
    font-size: 2.5em;
  }
  div[role="main"] {
    vertical-align: top;
    @include inline-block;
    width: 75%;
  }
  aside {
    @include inline-block;
    width: 24%;
  }
}

@media (min-width: 77em) {
  body {
    padding: 0 5em;
  }
  h1 {
    font-size: 3em;
  }
}